In [27]:
from openpyxl import load_workbook
import re

In [29]:
# Load the workbook
wb = load_workbook(r"C:\Users\Owner\OneDrive\Documents\GitHub\OSU-MCM\Basketball_dataset_clean_seth.xlsx")


def is_integer(s):
    try:
        int(s)
        return True
    except ValueError:
        return False


# Iterate through all sheets
for sheet in wb.worksheets:
    for row in sheet.iter_rows():
        for cell in row:
            if cell.value and isinstance(cell.value, str):
                # Split the string into parts
                cell_value = re.sub(r'[^\S\n]', ' ', cell.value.strip())
                parts = cell_value.split(" ")  # Remove leading/trailing spaces
                # Check if the last part is a "(number)" pattern
                if parts[-1].startswith("(") and parts[-1].endswith(")") and is_integer(parts[-1][1:-1]):
                    # Remove the last part and join the rest
                    updated_value = " ".join(parts[:-1])
                    print(f"Replacing {cell.value} with {updated_value}")
                    cell.value = updated_value

# Save the changes
wb.save(r"C:\Users\Owner\OneDrive\Documents\GitHub\OSU-MCM\Basketball_dataset_clean_seth_updated.xlsx")

Replacing Texas (15) with Texas
Replacing Kansas (5) with Kansas
Replacing North Carolina (9) with North Carolina
Replacing Gonzaga (10) with Gonzaga
Replacing Creighton (18) with Creighton
Replacing Marquette (4) with Marquette
Replacing Creighton (15) with Creighton
Replacing Marquette (8) with Marquette
Replacing Marquette (10) with Marquette
Replacing San Diego State (24) with San Diego State
Replacing Illinois (10) with Illinois
Replacing Alabama (19) with Alabama
Replacing Purdue (3) with Purdue
Replacing Texas Tech (25) with Texas Tech
Replacing Brigham Young (21) with Brigham Young
Replacing Kansas (8) with Kansas
Replacing Iowa State (6) with Iowa State
Replacing Baylor (11) with Baylor
Replacing Kansas (14) with Kansas
Replacing Texas Tech (25) with Texas Tech
Replacing Iowa State (7) with Iowa State
Replacing Duke (13) with Duke
Replacing Gonzaga (11) with Gonzaga
Replacing Tennessee (7) with Tennessee
Replacing Marquette (4) with Marquette
Replacing Arizona (1) with Arizona
Replacing Illinois (9) with Illinois
Replacing Wisconsin (6) with Wisconsin
Replacing Illinois (12) with Illinois
Replacing Utah State (20) with Utah State
Replacing Gonzaga (18) with Gonzaga
Replacing Tennessee (6) with Tennessee
Replacing UConn (1) with UConn
Replacing Arkansas (20) with Arkansas
Replacing Tennessee (10) with Tennessee
Replacing UConn (5) with UConn
Replacing Kentucky (14) with Kentucky
Replacing Oklahoma (7) with Oklahoma
Replacing Clemson (16) with Clemson
Replacing Duke (7) with Duke
Replacing Duke (9) with Duke
Replacing Alabama (19) with Alabama
Replacing Purdue (2) with Purdue
Replacing Kansas (1) with Kansas
Replacing North Carolina (17) with North Carolina
Replacing Illinois (20) with Illinois
Replacing Mississippi (22) with Mississippi
Replacing Kentucky (10) with Kentucky
Replacing Auburn (11) with Auburn
Replacing Alabama (14) with Alabama
Replacing South Carolina (17) with South Carolina
Replacing Kentucky (15) with Kentucky
Replacing Creighton (11) with Creighton
Replacing Purdue (3) with Purdue
Replacing Duke (2) with Duke
Replacing Michigan State (21) with Michigan State
Replacing Wisconsin (23) with Wisconsin
Replacing Purdue (3) with Purdue
Replacing Florida Atlantic (14) with Florida Atlantic
Replacing Washington State (21) with Washington State
Replacing Illinois (23) with Illinois
Replacing Kansas (1) with Kansas
Replacing Purdue (2) with Purdue
Replacing Texas (12) with Texas
Replacing Creighton (22) with Creighton
Replacing UConn (1) with UConn
Replacing Creighton (12) with Creighton
Replacing UConn (2) with UConn
Replacing UConn (2) with UConn
Replacing Texas A&M (12) with Texas A&M
Replacing Oklahoma (11) with Oklahoma
Replacing Houston (2) with Houston
Replacing Brigham Young (20) with Brigham Young
Replacing TCU (19) with TCU
Replacing Kansas (7) with Kansas
Replacing Baylor (18) with Baylor
Replacing Houston (2) with Houston
Replacing Brigham Young (20) with Brigham Young
Replacing Baylor (14) with Baylor
Replacing Houston (1) with Houston
Replacing Washington State (25) with Washington State
Replacing Illinois (10) with Illinois
Replacing Duke (21) with Duke
Replacing Brigham Young (18) with Brigham Young
Replacing Iowa State (12) with Iowa State
Replacing Texas Tech (23) with Texas Tech
Replacing Kansas (4) with Kansas
Replacing Oklahoma (25) with Oklahoma
Replacing Brigham Young (25) with Brigham Young
Replacing Houston (2) with Houston
Replacing Kansas (7) with Kansas
Replacing Iowa State (7) with Iowa State
Replacing Marquette (10) with Marquette
Replacing Providence (23) with Providence
Replacing UConn (1) with UConn
Replacing UConn (1) with UConn
Replacing Marquette (5) with Marquette
Replacing Tennessee (6) with Tennessee
Replacing Kansas (1) with Kansas
Replacing Miami (FL) (8) with Miami (FL)
Replacing North Carolina (9) with North Carolina
Replacing Tennessee (5) with Tennessee
Replacing Auburn (13) with Auburn
Replacing Alabama (13) with Alabama
Replacing Tennessee (4) with Tennessee
Replacing Arizona (12) with Arizona
Replacing Michigan State (18) with Michigan State
Replacing Baylor (10) with Baylor
Replacing North Carolina (3) with North Carolina
Replacing North Carolina (7) with North Carolina
Replacing Houston (2) with Houston
Replacing Tennessee (12) with Tennessee
Replacing North Carolina (7) with North Carolina
Replacing North Carolina (9) with North Carolina
Replacing Duke (9) with Duke
Replacing Duke (11) with Duke
Replacing North Carolina (4) with North Carolina
Replacing Texas Tech (22) with Texas Tech
Replacing Marquette (8) with Marquette
Replacing Duke (13) with Duke
Replacing Purdue (3) with Purdue
Replacing Dayton (16) with Dayton
Replacing Dayton (24) with Dayton
Replacing Brigham Young (21) with Brigham Young
Replacing Illinois (10) with Illinois
Replacing San Diego State (25) with San Diego State
Replacing Saint Mary's (CA) (15) with Saint Mary's (CA)
Replacing Alabama (19) with Alabama
Replacing Michigan State (4) with Michigan State
Replacing Wisconsin (23) with Wisconsin
Replacing Duke (13) with Duke
Replacing Gonzaga (18) with Gonzaga
Replacing Florida Atlantic (24) with Florida Atlantic
Replacing Memphis (19) with Memphis
Replacing Florida Atlantic (20) with Florida Atlantic
Replacing San Diego State (24) with San Diego State
Replacing Duke (13) with Duke
Replacing Gonzaga (11) with Gonzaga
Replacing Kansas (2) with Kansas
Replacing Auburn (7) with Auburn
Replacing San Diego State (24) with San Diego State
Replacing Purdue (3) with Purdue
Replacing Kansas (17) with Kansas
Replacing Florida Atlantic (13) with Florida Atlantic
Replacing Alabama (19) with Alabama
Replacing Illinois (25) with Illinois
Replacing Kentucky (12) with Kentucky
Replacing Creighton (11) with Creighton
Replacing Alabama (24) with Alabama
Replacing Purdue (3) with Purdue
Replacing Illinois (10) with Illinois
Replacing Arizona (2) with Arizona
Replacing Illinois (16) with Illinois
Replacing Baylor (14) with Baylor
Replacing Arizona (9) with Arizona
Replacing Marquette (8) with Marquette
Replacing Iowa State (4) with Iowa State
Replacing Tennessee (6) with Tennessee
Replacing Houston (2) with Houston
Replacing Houston (6) with Houston
Replacing UConn (1) with UConn
Replacing Purdue (3) with Purdue
Replacing North Carolina (5) with North Carolina

In [ ]:
# Load the workbook
wb = load_workbook(r"C:\Users\Owner\OneDrive\Documents\GitHub\OSU-MCM\Basketball_dataset_clean_seth.xlsx")

# Iterate through all sheets
for sheet in wb.worksheets:
    for row in sheet.iter_rows():
        for cell in row:
            # Check if the cell contains the text to find
            if cell.value and isinstance(cell.value, str) and "Connecticut" in cell.value:
                # Replace the text
                cell.value = cell.value.replace("Connecticut", "UConn")
                print("Found one!")

# Save the changes
wb.save(r"C:\Users\Owner\OneDrive\Documents\GitHub\OSU-MCM\Basketball_dataset_clean_seth_updated.xlsx")